@import url('https://fonts.googleapis.com/css2? family= Koulen & family= Poppins:wght@200 & family= Quicksand:wght@300 & family= Radio+Canada:wght@300 & family= Roboto+Flex:opsz,wght@8..144,200 & family= Roboto+Mono:wght@100 & family= Tapestry & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Poppins:wght@200&family=Quicksand:wght@300&family=Radio+Canada:wght@300&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto+Mono:wght@100&family=Tapestry&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Poppins',
        sans-serif;
    background: rgb(121, 9, 90);
    background: linear-gradient(90deg, rgba(121, 9, 90, 1) 0%, rgba(0, 29, 36, 0.06206232492997199) 0%, rgba(0, 212, 255, 1) 100%);
}

.logo {
    height: 70%;
    border-radius: 40px;
}

/* HEADER  */

/* - PADRE DEL NAV BAR */
.header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.9023984593837535) 4%, rgba(121, 9, 90, 0.7175245098039216) 57%, rgba(0, 212, 255, 1) 100%);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;

}




.nav-list {

    display: flex;
    gap: 60px;
    list-style: none;


}

.nav-link {
    background-color: rgb(184, 230, 233);
    color: black;
    border: 2px solid none;
    padding: 1rem 1.3rem;
    border-radius: 15px;
    font-weight: 800;
}

.nav-link:hover {

    color: black;
}

/* ! PADRE DE MENU TEXTO */

.menu-principal {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5rem;
}


.image img {
    width: 400px;
    height: 50%;
}

.menu_texto {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu_texto h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 2rem;
}

.menu_texto p {
    max-width: 450px;

}

.text_btn {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}


.btn {
    border: 2px solid blue;
    padding: 1rem 1.3rem;
    border-radius: 8px;
    font-weight: 600;
}

.btn:hover {
    transition: all 1s ease;
    background: cadetblue;
}

.btn_planes {
    background: #FC33FF;
    color: black;
}

.btn_consultar {
    background: #FC33FF;
    color: black;
}

.image img {
    border-radius: 5px;
}

.seccion_texto {
    padding: 60px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

.seccion_texto_txt p {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    word-spacing: 0.5rem;
    word-break: initial;

}

/* ! FALTA HACER RESPONSIVE DESIGN */