@import url('https://fonts.googleapis.com/css2? family= Koulen & family= Poppins:wght@200 & family= Quicksand:wght@300 & family= Radio+Canada:wght@300 & family= Roboto+Flex:opsz,wght@8..144,200 & family= Roboto+Mono:wght@100 & family= Tapestry & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Poppins:wght@200&family=Quicksand:wght@300&family=Radio+Canada:wght@300&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto+Mono:wght@100&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





body {
    font-family: 'Poppins',
        sans-serif;
    background: #E55D87;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





}

.logo {
    height: 70%;
    border-radius: 40px;
}

/* HEADER  */

/* - PADRE DEL NAV BAR */
.header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.9023984593837535) 4%, rgba(121, 9, 90, 0.7175245098039216) 57%, rgba(0, 212, 255, 1) 100%);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* //NAV BAR DESLIZABLE */
    position: sticky;
    top: 0;

}




.nav-list {

    display: flex;
    gap: 30px;
    list-style: none;
    text-decoration: none;


}



.item {

    position: relative;
    padding: 0;
}


/* EFECTO LINEA BAJO NAV BAR */


.nav-list .item::after {

    content: "";
    height: 2.5px;
    width: 100%;
    background: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}

.nav-list .item:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}



.nav-link {
    background-color: rgb(184, 230, 233);
    color: black;
    border: 2px solid none;
    padding: 0.8rem 1.3rem;
    border-radius: 15px;
    font-weight: 800;
    text-decoration: none;
}

.btn-bars {
    display: none;
}


/* ! PADRE DE MENU TEXTO */

.menu-principal {
    /* padding: 20px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 0rem;
    flex-wrap: wrap;
}


.image img {
    width: 600px;
    height: 60%;
}

.menu_texto {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu_texto h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 800;
    font-size: 3rem;
    font-style: italic;
    text-shadow: -12px 1px 13px rgba(0, 0, 0, 0.66);


}

.menu_texto p {
    max-width: 450px;


}



.text_btn {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}


.btn {
    /* border: 2px solid blue; */
    padding: 1rem 1.3rem;
    /* border-radius: 8px; */
    font-weight: 600;
    border-radius: 48px 65px 52px 52px;
    -webkit-border-radius: 48px 65px 52px 52px;
    -moz-border-radius: 48px 65px 52px 52px;
    border: 7px groove #6150ff;

}

.btn:hover {
    transition: all 1s ease;
    background: cadetblue;

}

.btn_planes {
    background: #FC33FF;
    color: black;
}

.btn_consultar {
    background: #FC33FF;
    color: black;
}

.image img {
    border-radius: 5px;
}

/* ! SECCION TEXTO  */
.seccion_texto {
    padding: 60px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

.seccion_texto_txt p {

    font-family: 'Kdam Thmor Pro',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;
    font-size: larger;
    word-spacing: 0.5rem;
    letter-spacing: 1px;
    font-style: italic;


}

/* ! SECCION DESCRIPCION  */


.seccion_descripcion {
    padding: 2rem 0;

}

.seccion_descripcion h2 {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;

}

.seccion_descripcion p {

    text-align: center;
    font-size: 1.25rem;
    max-width: 1000px;
    margin: 2rem auto 4rem auto;




}

/* ! CONTENEDOR BENEFICIOS */

.container_beneficios_general {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;


}

.container_beneficio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -11px 37px -7px rgba(250, 0, 255, 0.5);
    -webkit-box-shadow: -1px -11px 37px -7px rgba(250, 0, 255, 0.5);
    -moz-box-shadow: -1px -11px 37px -7px rgba(250, 0, 255, 0.5);
    padding: 1rem;
    margin: 1rem;



}

.container_beneficio p {
    text-align: center;



}

.container_beneficio h3 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;


}

.info_beneficios {
    width: 30%;
    margin-bottom: 2rem;
}

/* ! SECCION ENTRENAMIENTO */

.seccion-entrenamiento {
    padding: 1rem 0;


}

.texto-seccion-entrenamiento {
    text-align: center;
    font-size: 1.5rem;
    max-width: 700px;
    margin: 3rem auto 4rem auto;



}

.seccion-entrenamiento h2 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}

/* - Contenedor Entrenamiento */

.container-entrenamiento-general {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;




}

.container-tipos-entrenamiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 2rem auto;

    border: 8px outset #e750ff;

}



.container-tipos-entrenamiento p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;


}

.container-tipos-entrenamiento h4 {
    text-align: center;

    font-size: 1rem;

    text-decoration: underline;
    margin: 1.5rem;
    font-family: 'Courier New', Courier, monospace;

}

.info_entrenamiento {
    margin: 0.5rem;
    width: 50%;
    margin-bottom: 2rem;
}

/* ! SECCION DIETAS */

/* .seccion-dietas {} */

.seccion-dietas h2 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;

}

.texto-seccion-dietas {
    text-align: center;
    font-size: 1.5rem;
    max-width: 700px;
    margin: 2rem auto 2rem auto;
}



.container-dietas-general {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 4rem 4rem;
    margin: 4rem 4rem 4rem 4rem;



}

.container-dietas-tipos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 5px;

}

/* CARACTERISTICAS DEL BOTON VER DIETAS */
.container-dietas-tipos a {
    display: none;
    position: absolute;
    cursor: pointer;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;

}

/* LE DAMOS MOVIMIENTO AL BOTON VER DIETAS */
.container-dietas-tipos:hover a {
    display: flex;
    transition: 0.8s;

}



.info_dietas {

    border-radius: 10px;
    width: 200px;
    height: 200px;
}

/* ! footer */

.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 10px 10px 10px 10px;
}

.logo-q {
    height: 70%;
    border-radius: 40px;
}

.linea {
    height: 5px;
    background-color: black;

}

.info-contacto-general {
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;

}

.contactos h2 {
    text-decoration: underline;
    text-align: left;
    padding: 7px 7px;
    margin: 7px 7px;


}

.Siguenos h2 {

    padding: 6px;
    margin: 6px;
    text-decoration: underline;


}

.mapa h2 {

    padding: 6px;
    margin: 6px;
    text-decoration: underline;


}

.contactos {

    padding: 1rem 1rem;
    margin: 1rem 1rem;
    text-align: left;


}

.Siguenos {
    padding: 1rem 1rem;
    margin: 1rem 1rem;

    text-align: left;

}

.mapa {
    padding: 1rem 1rem;
    margin: 1rem 1rem;

}

.list {
    list-style: none;

}

.list a {
    text-decoration: none;

}



/* ! FALTA HACER RESPONSIVE DESIGN */

/* Mediaqueries Desktop */
/* @media screen and (min-width: 1024px) {} */
@media (max-width: 1024px) {

    * {
        /* border: 1px solid red; */
    }

    .nav-bar {
        display: none;
    }

    /*  - MENU PRINCIPAL CON BOTONES */

    .menu_texto p {
        text-align: left;
        padding: 5px;
        margin: 5px;
    }

    .text_btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* - SECCION IMAGEN */

    .image img {
        width: 300px;
        height: 40%;
    }

    .text_btn {
        margin-top: 1rem;

    }

    .btn {

        border: 2px solid blue;
        padding: 0.5rem 0.8rem;
    }

    .btn-bars {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: blue;
        width: 20px;
        height: 20px;

    }

    /* - SECCION TEXTO */
    .seccion_texto {

        padding: 1rem 1rem 1rem 1rem;
    }

    /* - SECCION DESCRIPCION(BENEFICIOS) */



    .seccion_descripcion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;


    }

    .seccion_descripcion h2 {
        text-align: center;
        font-size: larger;
        padding: 1px 1px;
        margin: 1px 1px;

    }


    .container_beneficios_general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;


    }

    /* - SECCION ENTRENAMIENTOS(TIPOS) */


    .seccion-entrenamiento {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .seccion-entrenamiento texto-seccion-entrenamiento {
        text-align: center;
        font-size: larger;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .seccion-entrenamiento h2 {
        text-align: center;
        font-size: larger;
        padding: 1px 1px;
        margin: 1px 1px;
    }

    .container-entrenamiento-general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;

    }

    /* - SECCION DIETAS(TIPOS) */

    .seccion-dietas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    .container-dietas-general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    }

    /* - //FOOTER */

    /* .back-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
    } */

    .title-logo {}

    .info-contacto-general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid green;
    }



    .contactos {

        text-align: center;
        border: 1px solid red;
        width: 200px;
        height: 200px;

    }

    .contactos a {
        font-size: small;
    }

    .Siguenos a {
        font-size: small;
    }

    .Siguenos {
        text-align: center;
        border: 1px solid red;

    }

    .mapa {}
}